# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build outputs
build/
dist/
Release/
*.spec

# Runtime
Logs/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
